@import "variables";
@import "mixin";

.example {
  font-weight: bold;
  border: gray solid 1px;
  padding: 10px;

  & > * {
    margin: 20px;
  }
}

// body {
//   padding: 20px;
// }
.example-center {
  display: flex;
  justify-content: center;
}
.button {
  padding: 10px;
  color: white;
  border-radius: 10%;
  font-weight: bold;

  &-primary {
    background-color: $myPrimaryColor;
    // &:hover {
    //   background-color: lighten($color: $myPrimaryColor, $amount: 10%);
    // }
  }
  &-success {
    background-color: $mySuccessColor;
    &:hover {
      @include hover($mySuccessColor, 30%, true);
    }
  }

  &-danger {
    background-color: $myDangerColor;
    &:hover {
      @include hover($myDangerColor, 30%, false);
    }
  }

  &-warning {
    background-color: $myWarningColor;
    &:hover {
      @include hover($myWarningColor, 30%, false);
    }
  }
  &-info {
    background-color: $myInfoColor;
    &:hover {
      @include hover($myInfoColor, 30%, false);
    }
  }
  &-light {
    background-color: $myLightColor;
    &:hover {
      @include hover($myLightColor, 30%, true);
    }
  }
  &-dark {
    background-color: $myDarkColor;
    &:hover {
      @include hover($myDarkColor, 30%, false);
    }
  }
  &-link {
    color: $myInfoColor;
    background-color: white;
    border: none;
  }
}

.menu {
  width: 170px;
  height: 220px;
  background-color: lightgray;
  //   padding: 10px;

  &-list {
    padding: 20px;
    list-style: none;

    &-item {
      width: 100px;
      height: 30px;
      background-color: gray;
      margin: 10px;
      padding: 10px;
    }
    &-link {
      color: black;
    }
  }
}
